<h1>Listing donors</h1>

<table  cellpadding="3" cellspacing="0" width="550">
  <tr align="left">
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone number</th>
  </tr>

<% for donor in @donors %>
  <tr>
    <td><%=h donor.first_name %></td>
    <td><%=h donor.last_name %></td>
    <td><%=h donor.email %></td>
    <td><%=h donor.phone_number %></td>
    <td><%= link_to 'Show', donor %></td>
    <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
    <td><%= link_to 'Delete', donor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New donor', new_donor_path %>
