<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Minimum bid:</b>
  <%= @item.minimum_bid %>
</p>

<p>
  <b>State:</b>
  <%= @item.state %>
</p>

<p>
  <b>Created datetime:</b>
  <%= @item.created_datetime %>
</p>

<p>
  <b>Modified datetime:</b>
  <%= @item.modified_datetime %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
